* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url('https://images.unsplash.com/photo-1610576375407-23f9a9455daa?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  text-transform: capitalize;
  color:rgb(0, 0, 0)
}

h1.my {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.card-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-section .card {
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);

}

.card-section .card img {
  width: 100%;
  height: auto;

}

.card-section .card h2{
  margin:15px 0px;
  font-style: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


@media screen and (max-width:768px) {
  .card-section{
    flex-direction: column;
  }
  
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
